<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection: Details</title>
    <%- include('../components/head') %>

  </head>
  <body>
    <main>
      <h4>Book Details</h4>
      <%- include('../components/nav') %>
      <!-- <div class='result' data-id="<%= book.id%>">
        <%- include('../components/basic', {book: book});%>
        <p class='description'><%= book.description %></p>
        <p class='isbn'>ISBN: <%=book.isbn%></p>
        <p class='shelf'><%= book.bookshelf%></p>
      </div> -->
      <button class="hide">Select Book</button>
      <div class="toggle">
        <%- include('../components/basic', {book: book});%>
        <p class='description'><%= book.description %></p>
        <p class='isbn'>ISBN: <%=book.isbn%></p>
        <p class='shelf'><%= book.bookshelf%></p>
      </div>
      <form action="/edit" method="put" class="toggle hidden">
        <img src= <%= book.image %> />
        <fieldset>
          <%- include('../components/form', {book: book});%>
          <button type="submit">Edit Book</button>
        </fieldset>
      </form>
    </div>
  </main>
    

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='/js/app.js'></script>
  </body>
</html>
