<!DOCTYPE html>
<html>
  <head>
    <title>Book Collection: Results</title>
    <%- include('../components/head') %>
  </head>
  <body>
    <main>
      <h4> <%- include('../components/nav') %> Search Results </h4>
      <ul>
        <% searchesResults.forEach(book => { %>
        <li> 
          <div class="result">
            <img src= <%= book.image %> />
            <button class="hide">Select Book</button>
            <div class="toggle details">
              <h5><%= book.title %></h5>
              <p class="author">Written By: <%= book.author %></p>
              <p class="description"><%= book.description %></p>
            </div>
            <form action="/add" method="post" class="toggle hidden">
              <fieldset>
                <%- include('../components/form', {book: book});%>
                <button type="submit">Add Book</button>
              </fieldset>
            </form>
          </div>
        </li>
        <% }) %>
      </ul>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='/js/app.js'></script>
  </body>
</html>