<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection: Home</title>
    <%- include('components/head') %>

  </head>
  <body>
    <main>
      <h4> <%- include('components/nav') %> My Books</h4>
      <h5>Total Number of Books: <%= results.length %></h5>
      <ul>
        <% results.forEach(book => { %>
          <li> 
            <div class='result homediv' data-id="<%= book.id%>">
              <img src= <%= book.image_url %> />
              <%- include('components/basic', {book: book}); %>
              <a href="/details/<%= book.id%>"> View Details </a>
              </div>
          </li>
          <% }) %> 
      </ul>
    </main>
  </body>
</html>
